//Post index
.post-card {
  padding: 10px;
  border-bottom: 2px #EEEEEE solid;
}

.post-image {
   max-width: 100%;
}

.post-title {
  text-align: left;
}

.post-title-link {
  color: #000000;

  &:hover {
    color: #157EFB;
    text-decoration: none;
  }
}

.post-wrapper {
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  width: 500px;
}

//New post

.new-post-title {
  text-align: center;
}

.new-post-form-wrapper {
  margin: 0 auto;
  width: 300px;
}

//Show

.main-post-wrapper {
  padding: 30px;
  text-align: center;
}

.main-post-image {
  max-width: 700px;
}

.next {
  float: right;
}

.previous {
  float: left;
}

.pagination-button {
  background-color: #FF3C1F;
  color: #FFFFFF;
  display: block;
  height: 50px;
  line-height: 50px;
  margin: 10px;
  vertical-align: middle;
  width: 150px;

  &:hover {
    background-color: #FD6857;
    color: #FFFFFF;
    text-decoration: none;
  }
}

.pagination-row {
  margin: 0 auto;
  width: 750px;
}



